<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CS213.androidchess101">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="equipe3.vintagechess.activity.HomeActivity"
            android:label="@string/app_name" >
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="equipe3.vintagechess.activity.ChessActivity"
            android:label="@string/title_activity_chess"
            android:parentActivityName="equipe3.vintagechess.activity.HomeActivity" >


          <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="equipe3.vintagechess.activity.HomeActivity" />
        </activity>
        <activity
            android:name="equipe3.vintagechess.activity.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName="equipe3.vintagechess.activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="equipe3.vintagechess.activity.HomeActivity" />
        </activity>
        <activity android:name="equipe3.vintagechess.activity.SettingsMenuActivity"
            android:label="@string/action_settings"
            android:parentActivityName="equipe3.vintagechess.activity.ChessActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="equipe3.vintagechess.activity.ChessActivity" />
        </activity>

        <service
            android:enabled="true"
            android:name="equipe3.vintagechess.service.MusicService" />

    </application>

</manifest>
